#grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 200px 200px 200px 200px;     
    grid-gap: 1em;
    grid-column-gap: 1em;   
    border: 3px dashed red;  
    width:auto;
    height:900px;
    margin: 0px auto;  
}

#grid-container > div{
    width:200px;
    height:auto;
    border: black 1 px solid;
    background-color: blue;       
}

#grid-container > div:nth-child(2n+0){
    background-color: aqua;
}
#grid-container >div:hover{
    background-color: brown;
    text-decoration-line: line-through;    
}